disvoice
joblib
torch
torchaudio
transformers
numpy
pandas
librosa
soundfile
scikit-learn
tqdm
matplotlib
comet_ml
dotenv
whisperx
deepmultilingualpunctuation
praat-parselmouth
scipy==1.10.1
torchsummary